.container {
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: 70%;
}

.page {
    /* margin: auto; */
    padding: 5px;
}

.wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
    padding: 10px;
    position: relative;
    width: 70%;
}
