@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #0075C4;
}

.page {
    width: 400px;
    padding: 8px;
    margin: auto;
}

.wrapper {
    background: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    max-width: 400px;
    padding: 45px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.wrapper input {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 15px;
    outline: 0;
    padding: 15px;
    width: 100%;
}

.wrapper button {
    background: #0075C4;
    border: 0;
    color: white;
    cursor: pointer;
    outline: 0;
    padding: 15px;
    text-transform: uppercase;
    width: 100%;
}
