{% extends 'base.html' %}
{% block content %}
<header>
    <h1>Student Clubs Bulletin Board</h1>
    <hr />
</header>

<div>
    <section>
        <h2>Welcome to UC Broccoli's 🥦 Online Bulletin Board for student clubs</h2>
        <p>Please respect the student ethics and code of conducts when posting.</p>
    </section>

    <section>
        <h4>Posts</h4>
        {% if not posts %}
            <p>No posts thus far...</p>
        {% else %}
            <form id="clear" action="{{ url_for('clear') }}" method="post">
                <input value="Clear Posts" type="submit"/>
            </form>
        {% endif %}

        {% for post in posts %}
            <div>
                <p>{{ post.name }} says:</p>
                <p>{{ post.comment }}</p>
            </div>
        {% endfor %}
    </section>

    <form id="comment" action="{{ url_for('comment') }}" method="post">
    </form>
</div>
{% endblock %}
