<div class="page" style="width:50%;">
  <div class="wrapper">
    <h2>Welcome, {{ username }}</h2>
    <p>
      You currently have a balance of
      {{ balance }} in your account.
    </p>
    <hr />
    <p>Use the following form to transfer funds to another account.</p>
    <form action="/transfer" method="POST">
      <input type="text" name="to" placeholder="i.e. Alice">
      <input type="text" name="amount" placeholder="i.e. 100">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="submit" value="Transfer" style="background:#4caf50">
    </form>
    <hr />
    <p>Global View of Ledger (To help with seeing attack effects)</p>
    <p>TODO</p>
    <form action="/login" method="GET">
      <input type="submit" value="Back to Login" style="background:#4c5caf">
    </form>
    <input type="button" value="Open Attack Page" style="background:#c73e3e" onclick="window.open('http://127.0.0.1:3001')">
  </div>
</div>
